* {
    margin: 0;
    padding: 0;
}

#main_header {
    background-image: linear-gradient(rgb(176 176 176 / 50%), rgb(156 151 151 / 50%)), url(../imgs/barbell-640-425.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

main {
    height: 60vh;
}

footer {
    height: 10vh;
    background-color: #c3cfd9; 
}